<section
  style="
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0 3vw;
  "
>
  <span style="font-family: 'Mukta'; font-weight: 700; font-size: 40px"
    >Kenai</span
  >
  <div style="display: flex; gap: 50px">
    <mat-icon style="width: 30px; height: 30px" svgIcon="instagram"></mat-icon>
    <mat-icon style="width: 30px; height: 30px" svgIcon="twitter"></mat-icon>
    <mat-icon style="width: 30px; height: 30px" svgIcon="facebook"></mat-icon>
  </div>
</section>
