.gallery-item {
	width: 300px;
	height: 440px;
	cursor: pointer;
	transition: 0.3s;
}

.gallery-item:hover {
	transform: scale(1.1);
	box-shadow: 0px 5px 25px rgba(255, 166, 52, 0.7);
}

.gallery-container {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	gap: 25px;
}

.title-populares {
	font-weight: 600;
	color: white;
	height: 44px;
	font-size: 32px;
}

@media (max-width: 1440px) {
	.gallery-item {
		width: 250px;
		height: 400px;
	}
}

@media (max-width: 425px) {
	.title-populares {
		font-size: 24px;
		height: 32px;
	}

	.gallery-container {
		max-width: 100%;
		overflow: auto;
	}
}
