.hour {
	font-weight: 300;
	font-size: 36px;
	color: white;
}

.title {
	color: white;
	font-size: 64px;
	font-family: "Open Sans";
	font-weight: 300;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 75px;
}

.subtitle {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 40px;
}

.button {
	width: 230px;
	margin-top: 15vh;
	background: rgba(24, 24, 24, 1);
	color: white;
	padding: 16px 40px;
	font-size: 20px;
	font-family: "Open Sans";
	font-weight: 600;
	border: 1px solid rgba(136, 136, 136, 0.4);
	border-radius: 8px;
	cursor: pointer;
	transition: 0.1s;
}

.button:hover {
	box-shadow: 0 0 10px rgba(255, 166, 52, 1);
}

.button:active {
	box-shadow: 0 0 10px rgba(255, 166, 52, 1);
	transform: scale(0.95);
}

.main {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-login {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 30px;
}

.container-users {
	display: flex;
	justify-content: center;
	padding-top: 10vh;
	gap: 75px;
	transition: 1s;
}

.bottom-buttons {
	width: fit-content;
}

@media (max-width: 1440px) {
	.main {
		height: 85%;
	}

	.title {
		font-size: 48px;
	}

	.subtitle {
		font-size: 32px;
	}

	.button {
		margin-top: 75px;
	}

	.hour {
		font-size: 24px;
	}
}

@media (max-width: 425px) {
	.hour {
		display: none;
	}

	.header-login {
		justify-content: center;
		align-items: center;
	}

	.container-users {
		flex-direction: column;
		width: 136px;
	}

	.title {
		font-size: 20px;
	}

	.subtitle {
		font-size: 18px;
	}

	.button {
		margin-bottom: 30px;
		margin: 0;
		width: 60%;
	}

	.bottom-buttons {
		width: 100%;
		margin-top: 75px;
		justify-content: center;
		display: flex;
		margin-bottom: 30px;
	}
}
