<section
	style="
		font-family: 'Open Sans';
		height: 100%;
		background-image: linear-gradient(
			to right bottom,
			#000000,
			#070103,
			#0b0208,
			#0e030e,
			#0e0514,
			#0e0517,
			#0d061b,
			#0a071e,
			#090521,
			#080425,
			#070228,
			#06002b
		);
		transition: 0.3s;
	"
>
	<header class="header-login">
		<kenai-logo></kenai-logo>
		<span class="hour">
			{{ actualHour | date : "hh:mm a" }}
		</span>
	</header>
	<main class="main">
		<h1 class="title">Bem-vindo de volta ao Kenai!</h1>
		<span class="subtitle">Quem está usando?</span>
		<div class="container-users">
			<ng-container *ngFor="let user of users">
				<kenai-users
					[user]="user"
					[userConfig]="userConfig"
					(emitSelectedUser)="redirectUser($event)"
					(emitDeleteUser)="deleteUser($event)"
				></kenai-users>
			</ng-container>
		</div>
		<div class="bottom-buttons">
			<button class="button" (click)="addPerfil()">Adicionar Perfil</button>
			<mat-icon
				style="
					color: #a8a8a8;
					width: 36px;
					height: 36px;
					position: relative;
					bottom: -10px;
					left: 10px;
					cursor: pointer;
				"
				(click)="userConfig = !userConfig"
				svgIcon="cog"
			></mat-icon>
		</div>
	</main>
</section>
