<section [ngClass]="{ iconUserDisplay: displayIcons, iconUserDelete: deleteUser }">
	<div
		class="iconUser"
		[ngClass]="{ 'icon-user-config': userConfig }"
		(click)="selectedUserEvent()"
		[style.background]="'linear-gradient(to bottom, ' + user.usuColor + ')'"
	>
		<mat-icon
			[ngClass]="{ displayItem: !userConfig }"
			class="delete-icon"
			svgIcon="close"
			(click)="deleteUser = true; deleteUserEvent()"
		></mat-icon>
	</div>
	<div style="display: flex; justify-content: center">
		<input
			[disabled]="!editName"
			class="inputName"
			[ngClass]="{ activeEdit: editName }"
			type="text"
			[(ngModel)]="user.usuName"
			(keyup.enter)="editName = !editName"
		/>
		<mat-icon
			[ngClass]="{ displayItem: !userConfig }"
			(click)="editName = !editName"
			svgIcon="pencil"
			class="icon-pencil"
		></mat-icon>
	</div>
</section>
