.iconUser {
	width: 176px;
	height: 176px;
	border-radius: 100%;
	cursor: pointer;
	transition: 0.3s;
	transform: translateY(-20px);
}

.iconUserDisplay {
	animation: iconUserDisplay 1.5s forwards;
}

@keyframes iconUserDisplay {
	from {
		transform: translateY(-50px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

.iconUser:hover {
	box-shadow: 0px 6px 30px rgba(255, 38, 122, 0.8);
	transform: scale(1);
}
